.menu-wrapper {
  width: 96vw;
  height: 48vh;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
}

.menu-item {
  width: 22.5vw;
}

.image {
  width: 22.5%;
}

.home-wrapper {
  width: 96vw;
  height: 48vh;
  justify-content: space-between;
  margin-bottom: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
}

.body {
  background-image: url('../images/image_2023_05_26T16_37_27_998Z-2.png');
  background-size: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.site-name {
  width: 49%;
}

.media {
  width: 49%;
  align-items: center;
  font-size: 14.5vw;
  line-height: 100%;
  display: flex;
}

.cata {
  height: 49%;
  align-items: center;
  margin-bottom: 2%;
  font-size: 18.3vw;
  display: flex;
}

.tumbo {
  height: 49%;
}

.catatumbo {
  width: 100%;
  align-items: center;
  font-size: 47vh;
  font-weight: 700;
  line-height: 47vh;
}

.slider1 {
  width: 1000%;
  display: none;
}

.slide {
  width: 100%;
  cursor: none;
  margin-left: 20px;
  position: absolute;
  overflow: hidden;
}

.slide-item-1 {
  height: 100%;
  background-color: #37c228;
}

.slide-item-2 {
  height: 100%;
  background-color: #cf1919;
}

.slide-item-3 {
  height: 100%;
  background-color: #3141f1;
}

.slide-item-4 {
  height: 100%;
  background-color: #cf21b2;
}

.logo {
  z-index: 10;
  padding: 20px;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}

.slide-image {
  max-height: 100%;
  cursor: none;
  position: absolute;
}

.slide-wrapper {
  width: 400%;
  padding-top: 20px;
}

.slide-left {
  z-index: 30;
  width: 10%;
  height: 50%;
  cursor: none;
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  overflow: hidden;
}

.slide-right {
  z-index: 30;
  width: 10%;
  height: 50%;
  cursor: none;
  position: absolute;
  top: 20px;
  right: 0;
  overflow: hidden;
}

.slide-right-img, .slide-left-img, .read-img {
  cursor: none;
  display: none;
  position: absolute;
}

.logo-2 {
  z-index: 10;
  padding: 20px;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.video {
  width: 85%;
  max-width: 100%;
  margin-top: -500px;
}

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, .8);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal {
  width: 50%;
  height: 50%;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block {
  display: none;
}

.paragraph {
  width: 50%;
  text-align: center;
  margin-bottom: 0;
  font-family: Avenirltstd Black, sans-serif;
  font-size: 17px;
  line-height: 22px;
}

.slide-text {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.text-block {
  color: #fff;
  font-size: 20px;
}

.text-block-2 {
  color: #fff;
  font-family: Avenirltstd Black, sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.slide-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .body {
    background-image: none;
    overflow: visible;
  }

  .logo {
    width: 100%;
    position: fixed;
  }

  .slide-wrapper {
    flex-direction: row;
    display: none;
  }

  .logo-2 {
    width: 100%;
    position: fixed;
  }

  .modal {
    width: 80%;
    height: 70%;
  }

  .paragraph {
    width: 80%;
  }

  .slide-wrapper-mobile {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }

  .slide-image-mobile {
    margin-top: 20px;
  }

  .logo-div {
    width: 100%;
    background-color: #fff;
  }

  .logo-bg {
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0%;
  }

  .slide-image-mobile {
    width: 100%;
  }
}


@font-face {
  font-family: 'Avenirltstd Black';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}